<!DOCTYPE html><!--  Last Published: Tue May 31 2022 02:37:17 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6176b7ce1ddb816e7c4ca0c0" data-wf-site="6176b7ce1ddb81e1db4ca0bf" lang="es">
<head>
  <%- include('metas'); %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/origen-monserrate.css" rel="stylesheet" type="text/css">
 
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <%- include('gtag-head'); %>
</head>
<body class="body">
  <%- include('gtag-body'); %>
  <div id="banner" class="div-block-20"></div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container-7 w-container">
      <a href="https://origenapartamentos.com/" class="brand w-nav-brand"><img src="images/logo-monserrate-origen.png" loading="lazy" alt="logo moserrate Origen Altos De Calasanz" class="image-6"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#zonassociales" class="menu w-nav-link">Zonas comunes</a>
        <a href="#ubicacion" target="_blank" class="menu w-nav-link">Ubicación</a>
        <a href="#banner" class="menu ct w-nav-link">Contáctanos</a>
        <a href="#banner" class="menu mb w-nav-link">Contáctanos</a>
        <div class="redes-header">
          <a href="https://www.facebook.com/reservaserrat/" target="_blank" class="w-inline-block"><img src="images/facebook.png" loading="lazy" alt="facebook Origen apartamentos Altos De Calasanz" class="imgredes hea"></a>
          <a href="https://www.instagram.com/reserva_serrat/" target="_blank" class="w-inline-block"><img src="images/instagram.png" loading="lazy" alt="instagram Origen apartamentos Altos De Calasanz" class="imgredes hea"></a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-5 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="banner wf-section">
    <div class="div-block-22"></div>
    <div id="w-node-_66002426-6260-dd87-6a04-a70c506d5f7f-7c4ca0c0" class="div-block-18">
      <div id="banner" class="div-block-9">
        <div class="div-block-10">
          <div class="titulobanner">VIVE A LA <span class="text-span-7">ALTURA</span></div>
          <div class="titulobanner alt">DE TUS SUEÑOS</div>
        </div>
      </div>
      <div id="banner" class="div-block-12">
        <p class="paragraph">Origen apartamentos Medellin Altos De Calasanz</p>
        <div class="text-block-9"><strong>Apartamentos desde</strong> <span class="text-span-8">$341.934.000</span><br></div>
        <div class="form-block w-form">
         <form id="contactForm" name="email-form" data-name="Email Form" method="get" redirect="/agradecimientos" data-redirect="/agradecimientos" class="form">
            <input type="text" class="formulario w-input" maxlength="256" name="nombre" data-name="nombre" placeholder="Nombre completo*" id="nombre" required="">
            <input type="email" class="formulario w-input" maxlength="256" name="email" data-name="email" placeholder="Correo electrónico*" id="email" required="">
            <input type="tel" class="formulario w-input" maxlength="256" name="celular" data-name="celular" pattern="^[0-9-+s()]*$" placeholder="Celular*" id="celular" required="">
            <label class="w-checkbox"><input type="checkbox" id="Acepto los términos y condiciones" name="Acepto-los-t-rminos-y-condiciones" data-name="Acepto los términos y condiciones" required="" checked="" class="w-checkbox-input checkbox">
              <span for="Acepto-los-t-rminos-y-condiciones" class="checkbox-label w-form-label">Acepto los <a href="#" class="link-2">términos y condiciones</a></span></label>
              <input type="submit" value="Registrarme" data-wait="Registrando ..." class="submit-button w-button">
            </form>
         
          <div id="form-status" class="form-status"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="porqueinvertir wf-section"><img src="images/Enredaderas-2.png" loading="lazy" alt="enredadera Origen apartamentos Altos de Calasanz" class="hojai">
    <div class="botones">
      <h1 class="h1seo bl">Origen apartamentos Altos de Calasanz</h1>
      <h2 class="tituloblanco">Mejora tu calidad de vida y la de tu familia</h2>
    </div>
    <div class="contenedorverde">
      <div class="div-block-5">
        <div class="div-block-6"><img src="images/origen-tu-hogar-a-tu-alcance.svg" loading="lazy" alt="tu hogar Origen apartamentos Altos De Calasanz" class="iconosinv">
          <h3 class="tituloinversion">Tu nuevo apartamento <br>a tu alcance</h3><img src="images/linea-amarilla.svg" loading="lazy" alt="linea Origen apartamentos Altos De Calasanz" class="separador">
          <p class="textoinvierte">Apartamentos desde <br><strong>$332.334.000</strong></p>
          <p class="texto-ley">* Precio sujeto a cambios sin previo aviso.</p>
        </div>
        <div class="div-block-7"><img src="images/Orige-vive-rodeado.svg" loading="lazy" alt="Origen apartamentos Altos De Calasanz" class="iconosinv">
          <h4 class="tituloinversion">Vive en un entorno natural<br>‍</h4><img src="images/linea-amarilla.svg" loading="lazy" alt="linea Origen apartamentos Altos De Calasanz" class="separador">
          <p class="textoinvierte">Ubicado en Altos de Calasanz, rodeado de aire fresco y tranquilidad.</p>
        </div>
        <div class="div-block-8"><img src="images/origen-zonas-comunes.svg" loading="lazy" alt="zonas comunes Origen apartamentos Altos De Calasanz" class="iconosinv">
          <h5 class="tituloinversion">Zonas comunes para<br>toda la familia</h5><img src="images/linea-amarilla.svg" loading="lazy" alt="linea Origen apartamentos Altos De Calasanz" class="separador">
          <p class="textoinvierte">10 zonas comunes para todos.<br>‍</p>
        </div>
      </div>
      <div class="caja">
        <a href="#banner" class="btn">Cotizar mi apartamento</a>
      </div>
    </div><img src="images/Enredaderas-3.png" loading="lazy" alt="enredadera sala de vetas" class="hojad">
  </div>
  <div class="realidad wf-section">
    <div class="tituloblanco">¡Origen es una realidad!</div>
    <p class="parraseo">Origen apartamentos Reserva Serrat</p>
  </div>
  <div class="contenimage">
    <div style="padding-top:56.17021276595745%" class="w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FcaWb58nU0LE%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DcaWb58nU0LE&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FcaWb58nU0LE%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" allowfullscreen="" title="AVANCE DE OBRA RESERVA SERRAT ORIGEN - MARZO 2022"></iframe></div>
  </div>
  <div id="zonassociales" class="porqueinvertir abaj wf-section">
    <a href="#banner" class="btn">Cotizar ahora</a>
    <div class="contenedorverde"></div>
  </div>
  <div class="zonassociales wf-section">
    <div class="botones">
      <h2 class="h1seo nara">Origen apartamentos Altos De Calasanz</h2>
      <h5 class="tituloazul naranja">Espacios llenos de naturaleza y aire fresco</h5>
    </div>
    <div class="div-block-16">
      <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask-2 w-slider-mask">
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/picina-origen.svg" loading="lazy" alt="ico piscina Origen apartamentos Altos De Calasanz" class="imgcar"></div>
            <p class="titcarzonas">Piscina adultos<br> y niños</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/ico-juegos--infantiles.svg" loading="lazy" alt="Juegos infantiles" class="imgcar"></div>
            <p class="titcarzonas">Juegos<br>infantiles</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/senderos.svg" loading="lazy" alt="icono sendero Origen apartamentos Altos De Calasanz" class="imgcar"></div>
            <p class="titcarzonas">Senderos<br>‍</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/eco-estaciones.svg" loading="lazy" alt="Eco estaciones" class="imgcar"></div>
            <p class="titcarzonas">Ecoestación<br>bicicletas y motos</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/ico-salon-social.svg" loading="lazy" alt="Social" class="imgcar"></div>
            <p class="titcarzonas">Salón social<br>‍</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/parque-mascotas-origenpreserva-serrat.svg" loading="lazy" alt="parque Origen apartamentos Altos De Calasanz" class="imgcar"></div>
            <p class="titcarzonas">Parque de<br>mascotas</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/espacio-multiple.svg" loading="lazy" alt="espacios multiples Origen apartamentos Altos De Calasanz" class="imgcar"></div>
            <p class="titcarzonas">Espacio múltiple<br>‍</p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/ico-bbq.svg" loading="lazy" alt="bbq" class="imgcar"></div>
            <p class="titcarzonas">BBQ al aire<br>libre<br></p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/ico-gimnasio-exterior-biosaludable.svg" loading="lazy" alt="gimnasio" class="imgcar"></div>
            <p class="titcarzonas">Gimnasio exterior<br>biosaludable<br></p>
          </div>
          <div class="carrucel w-slide">
            <div class="cajazonas"><img src="images/ico-desportiva.svg" loading="lazy" alt="Canchas origenReserva Serrat" class="imgcar"></div>
            <p class="titcarzonas">Cancha múltiple<br>‍</p>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="icon w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="icon-2 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-2 w-slider-nav w-round"></div>
      </div>
      <div id="galeria" class="galeria">
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/origen-ecoestacion.png" loading="lazy" alt="eco estacion Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Eco estación de bicicletas y motos</span></p>
        </div>
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/picina-origen.png" loading="lazy" alt="piscina Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Piscina adultos y niños</span></p>
        </div>
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/plazoleta-mirador-bbq.png" loading="lazy" alt="mirador bbq Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Plazoleta mirador BBQ</span></p>
        </div>
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/cancha-multiple.png" loading="lazy" alt="cancha Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Cancha múltiple</span></p>
        </div>
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/juegos-infantiles.png" loading="lazy" alt="Juegos infantiles Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Juegos infantiles</span></p>
        </div>
        <div id="galeria" class="icogaleria">
          <p class="render"><span>*Render del proyecto</span></p><img src="images/porteria.png" loading="lazy" alt="porteria Origen apartamentos Altos De Calasanz" class="imggalle">
          <p class="titsl"><span class="text-span-5">Portería</span></p>
        </div>
      </div>
      <p class="paragraph-2">* Las Zonas Comunes serán entregadas por etapas según programación de construcción y no se entregarán dotadas. Las imágenes utilizadas son representaciones digitales del diseño y junto con el apartamento modelo pueden variar en la construcción final.</p>
      <a href="#banner" class="btn">Agendar mi cita</a>
    </div>
  </div>
  <div id="zonassociales" class="bgamarillo wf-section">
    <p class="titulocafe">Descubre tu nuevo apartamento fácil y rápido</p>
    <div class="contenedorverde"></div>
  </div>
  <div id="recorrido" class="recorrido wf-section"><img src="images/icon-recorrido.svg" loading="lazy" alt="ico 360 Origen apartamentos Altos De Calasanz" class="ico360">
    <h3 class="tituloblanco verd">Disfruta de nuestro recorrido<br>360°</h3>
    <a href="https://www.constructoramonserrate.com/360/origen/origen-apto/tour360.html" target="_blank" class="btn">Ver recorrido 360</a>
    <div id="sala" class="div-block-21"></div>
  </div>
  <div id="zonassociales" class="bgamarillo peq wf-section">
    <p class="texto-ley ot">* El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes.</p>
    <div class="contenedorverde"></div>
  </div>
  <div class="apartamentosdisponibles wf-section">
    <div class="botones">
      <h3 class="h1seo">Origen apartamentos Reserva Serrat</h3>
      <h4 class="tituloazul">Apartamentos disponibles para ti</h4>
    </div>
    <div class="contapa">
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 2" data-easing="ease" class="w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="menuplanos w-inline-block w-tab-link">
            <div class="text-block-7">Apto 62 m2</div>
          </a>
          <a data-w-tab="Tab 2" class="menuplanos w-inline-block w-tab-link w--current">
            <div class="text-block-7">Apto 68 m2</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane">
            <div class="cajaplanos">
              <div id="w-node-_40efa98b-dc96-0686-6a9d-5cc0becc9e67-7c4ca0c0" class="div-block-15">
                <div class="div-block-13">
                  <div class="cajaarea lin">
                    <p class="infosliderplanos">Área construída</p>
                    <p class="titub">62 m2</p>
                  </div>
                  <div class="cajaarea">
                    <p class="infosliderplanos">Área privada</p>
                    <p class="titub">56 m2</p>
                  </div>
                </div>
                <p class="alcobas"><strong>Apartamentos de 3 alcobas</strong></p>
                <p class="precio">Precio desde: $332.334.000</p>
                <p class="notaslider">* Incluye acabados y parqueadero</p>
                <a href="#banner" class="btn">Cotizar mi apartamento</a>
                <a href="https://origenapartamentos.com/pdf/origen-t2-y-3.pdf" target="_blank" class="btn brochure">Brochure</a>
              </div><img loading="lazy" src="images/plano-62.jpg" alt="plano 62m Origen apartamentos Altos De Calasanz">
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
            <div class="cajaplanos">
              <div id="w-node-_94a630b8-ef24-8e32-a768-f13e6361c35a-7c4ca0c0" class="div-block-15">
                <div class="div-block-13">
                  <div class="cajaarea lin">
                    <p class="infosliderplanos">Área construída</p>
                    <p class="titub">68 m2</p>
                  </div>
                  <div class="cajaarea">
                    <p class="infosliderplanos">Área privada</p>
                    <p class="titub">62 m2</p>
                  </div>
                </div>
                <p class="alcobas"><strong>Apartamentos de 3 alcobas</strong></p>
                <p class="precio">Precio desde: $367.706.000</p>
                <p class="notaslider">* Incluye acabados y parqueadero</p>
                <a href="#banner" class="btn">Cotizar mi apartamento</a>
                <a href="https://origenapartamentos.com/pdf/origen-t2-y-3.pdf" target="_blank" class="btn brochure">Brochure</a>
              </div><img sizes="(max-width: 479px) 100vw, (max-width: 767px) 72vw, (max-width: 2866px) 36vw, 1032px" srcset="images/plano-76-p-800.jpeg 800w, images/plano-76.jpg 1032w" src="images/plano-76.jpg" loading="lazy" alt="plano 76 Origen apartamentos Altos de Calasanz">
            </div>
          </div>
        </div>
      </div>
      <p class="texto-ley apart">* Las imágenes utilizadas son representaciones digitales del diseño y junto con el apartamento modelo pueden variar en la construcción final. El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes. Precio sujeto a cambios sin previo aviso.</p>
    </div>
  </div>
  <div id="ubicacion" class="sala wf-section">
    <div class="botones">
      <p class="parraseo">Origen apartamentos Reserva Serrat</p>
      <h5 class="tituloblanco">Visita nuestra sala de ventas</h5>
    </div>
    <div class="div-block-17">
      <div class="div-block"><img src="images/mapa-new.jpg" loading="lazy" id="w-node-_7cbf1599-9a36-46d1-a2f9-58b44bce0104-7c4ca0c0" sizes="(max-width: 767px) 80vw, (max-width: 2576px) 39vw, 1005px" srcset="images/mapa-new-p-500.jpeg 500w, images/mapa-new-p-800.jpeg 800w, images/mapa-new.jpg 1005w" alt="Mapa Origen apartamentos Altos de Calasanz" class="image-11">
        <div id="w-node-_140e905c-0634-8bd7-00c0-e291c21ae8cf-7c4ca0c0" class="div-block-14">
          <p class="titulofooter primero">Teléfonos</p>
          <div class="cajasfooter"><img src="images/whapp.svg" loading="lazy" alt="ico whatsapp " class="image-7">
            <p class="textfooter">(+57) 312 776 1001<br></p>
          </div>
          <div class="cajasfooter"><img src="images/tel.svg" loading="lazy" alt="telefono origen apartamentos" class="image-7">
            <p class="textfooter">(+57) 403 16 50<br></p>
          </div>
          <p class="titulofooter">Encuéntranos</p>
          <div class="cajasfooter"><img src="images/icon-maps.svg" loading="lazy" alt="ico map" class="image-7">
            <p class="textfooter">Calle 50A N°86 - 444  Altos de Calasanz<br></p>
          </div>
          <p class="textfooter"><span class="text-span-3">Medellín</span></p>
          <p class="titulofooter">Horarios de sala de ventas</p>
          <p class="textfooter">Lunes a domingo<br>9:00 a.m. - 5:00 p.m.</p>
          <div class="div-block-2">
            <a href="https://ul.waze.com/ul?place=ChIJq6Rf52kpRI4RhTPPalCadyA&amp;ll=6.26972190%2C-75.60479760&amp;navigate=yes&amp;utm_campaign=waze_website&amp;utm_source=waze_website&amp;utm_medium=lm_share_location" target="_blank" class="w-inline-block"><img src="images/waze-origen.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 142px, (max-width: 991px) 15vw, 124px" srcset="images/waze-origen-p-500.png 500w, images/waze-origen.png 504w" alt="Waze Origen Apartamentos" class="image-2"></a>
            <a href="https://goo.gl/maps/vgRm7nAoQbUz96vS6" target="_blank" class="w-inline-block"><img src="images/maps-origen.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 171px, (max-width: 991px) 17vw, 171px" srcset="images/maps-origen-p-500.png 500w, images/maps-origen.png 702w" alt="Origen Apartamentos google maps" class="image-8"></a>
          </div>
          <div class="textoblanco">Encuéntranos como Reserva Serrat</div>
        </div>
      </div>
    </div><img src="images/Enredaderas.png" loading="lazy" alt="enredadera sala de ventas" class="hojad">
  </div>
  <div class="footer wf-section"><img src="images/logo-footer.jpg" loading="lazy" alt="logos footer" class="image">
    <div>
      <a href="https://www.facebook.com/reservaserrat/" target="_blank" class="w-inline-block"><img src="images/face.svg" loading="lazy" alt="Facebook" class="imgredes"></a>
      <a href="https://www.instagram.com/reserva_serrat/" target="_blank" class="w-inline-block"><img src="images/insta.svg" loading="lazy" alt="instagram" class="imgredes"></a>
    </div>
    <div class="text-block">© Conversion all Rights Reserved 2021</div>
  </div>


  <%- include('scripts-footer'); %>

</body>
</html>