<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Origen apartamentos - Medellin, Altos De Calasanz</title>

<meta name="description"
    content="Origen apartamentos Altos De Calasanz | Desde $382.000.000 | 3 alcobas, Calle 50A N°86 - 444  Altos de Calasanz." />
    <link rel="canonical" href="https://origenapartamentos.com/" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />

<meta property="og:title" content="Origen apartamentos Altos De Calasanz " />
<meta property="og:description" content="Origen apartamentos Altos De Calasanz | Desde $382.000.000 | 3 alcobas, Calle 50A N°86 - 444  Altos de Calasanz." />
<meta property="og:url" content="https://origenapartamentos.com/" />

<meta property="og:site_name" content="Origen apartamentos Altos De Calasanz" />
<meta property="article:publisher" content="https://www.facebook.com/reservaserrat/" />
<meta property="og:image" content="https://origenapartamentos.com/cover.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="keywords" content="Origen apartamentos Altos De Calasanz" />
<meta name="facebook-domain-verification" content="9d46bjuxv0l7flslv5k0osa99qhjuo" />